/* Global View */

body {
    font-family: 'Asap',
        sans-serif;
    font-weight: 400;
    background-color: #EBEBEB;
}

.container {
    /* background-color: rgb(231, 90, 90); */
    min-height: 500px;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;

}

.col {
    width: 30%;
    margin-top: 40px;
    background-color: rgb(43, 226, 147);
        transition-duration: 1s;
}

.col:hover {
    width: 33%;
    transition-duration: 1s;
}

.col p {
    color: white;
    font-size: 0.825rem;
    padding: 20px 25px;
    text-align: center;
    line-height: 1.15rem;
}

.hide-desktop {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}


.header-container {
    width: 100%;
    min-height: 100px;
    background-color: rgb(60, 60, 60);
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* 
.card1 {
    flex: 1;

    margin-top: 42px;
    color: white;
    font-size: 1rem;
}

.card2 {
    margin-top: 42px;
    margin-bottom: 20px;
    flex: 1;
    text-align: right;
    
} */

.card2 a {
    padding: 10px 25px;
    border: 1px solid white;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

span {
    font-weight: 700;
}


footer {
    max-width: 100%;
    min-height: 100px;
    background-color: rgb(60, 60, 60);
    text-align: center;
}

i {
    margin-top: 45px;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

footer p {
    margin-top: 15px;
    color: white;
}


/* Tablet View */
@media (max-width:768px) {

    .col {
        width: 45%;
    }

    .hide-desktop {
        display: block;
    }

    .hide-tablet {
        display: none;
    }

}

/* Mobile View*/

@media (max-width:500px) {


    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
    .col:hover {
        width: 93%;
        transition-duration: 1s;
    }


}